
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Skills
.agents/
skills-lock.json

# Enviroments
.env

# VSCode settings
.vscode/
pnpm-lock.yaml